
<h4>September 17 2020: Introduction</h4>
<p><b>Topics:</b><ul><li>Information regarding this course</li>
<li>Introduction to population genetics</li>
<li>Allele and genotype frequenices</li>
<li>Hardy-Weinberg Equilibrium</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_1_Introduction/Lecture_1_Introduction_handout.pdf" target="_blank">Lecture_1_Introduction_handout.pdf</a></p>
<h4>September 24 2020: HWE and Drift</h4>
<p><b>Topics:</b><ul><li>Deviations from the Hardy-Weinberg Equilibrium.</li>
<li>Testing for such deviations.</li>
<li>Introduction to genetic drift / the Wright-Fisher Model.</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_2_HWE_and_Drift/Lecture_2_HWE_and_Drift_handout.pdf" target="_blank">Lecture_2_HWE_and_Drift_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 1 (pages 12 - 19) and Chapter 2 (pages 21 - 27) prior to the lecture.</p>
<p><b>Scripts:</b> We will use <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_2_HWE_and_Drift/Scripts/WF_model.r" target="_blank">WF_model.r</a> to demonstrate some concepts.</p>
<h4>October 1 2020: Mutations</h4>
<p><b>Topics:</b><ul><li>Mutations</li>
<li>Fixation probabilities</li>
<li>The molecular clock and divergence between species</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_3_Mutations/Lecture_3_Mutations_handout.pdf" target="_blank">Lecture_3_Mutations_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 2 (pages 27 - 33) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_1/Exercises_1.pdf" target="_blank">Exercises_1.pdf</a> in class. You will benefit most by solving them before.</p>
<p><b>Scripts:</b> We will use <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_3_Mutations/Scripts/WF_newMut.r" target="_blank">WF_newMut.r</a> to demonstrate some concepts.</p>
<h4>October 8 2020: Coalescent Theory</h4>
<p><b>Topics:</b><ul><li>Coalescent Theory with two individuals / chromosomes</li>
<li>Effective population sizes</li>
<li>Coalescent Theory with multiple individuals</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_4_Coalescent_Theory/Lecture_4_Coalescent_Theory_handout.pdf" target="_blank">Lecture_4_Coalescent_Theory_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 3 (pages 35 - 40) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_2/Exercises_2.pdf" target="_blank">Exercises_2.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>October 15 2020: Coalescent Theory 2</h4>
<p><b>Topics:</b><ul><li>Coalescent with multiple individuals (second part)</li>
<li>Expected tree height and tree length</li>
<li>Site frequency spectrum</li>
<li>Effect of demography on tree shape</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_5_Coalescent_Theory_2/Lecture_5_Coalescent_Theory_2_handout.pdf" target="_blank">Lecture_5_Coalescent_Theory_2_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 3 (pages 41-57) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_3/Exercises_3.pdf" target="_blank">Exercises_3.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>October 22 2020: Practical Coalescent</h4>
<p><b>Topics:</b><ul><li>We will use a coalescent simulator to generate genealogies under various demographic scenarios and compare them.</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_6_Practical_Coalescent/" target="_blank"></a></p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_4/Exercises_4.pdf" target="_blank">Exercises_4.pdf</a> in class. You will benefit most by solving them before.</p>
<p><b>Scripts:</b> We will use <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_6_Practical_Coalescent/Scripts/Practical_coalescent.r" target="_blank">Practical_coalescent.r</a> to demonstrate some concepts.</p>
<h4>October 29 2020: Population Subdivision</h4>
<p><b>Topics:</b><ul><li>Population structure and Wahlund effect</li>
<li>Coalescent Theory with migration.</li>
<li>Fixation index Fst</li>
<li>Isolation by Distance</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_7_Population_Subdivision/Lecture_7_Population_Subdivision_handout.pdf" target="_blank">Lecture_7_Population_Subdivision_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 4 (pages 59 - 74) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_4/Exercises_4.pdf" target="_blank">Exercises_4.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>November 5 2020: Inferring Demographic Histories</h4>
<p><b>Topics:</b><ul><li>Inferring evolutionary histories using th likelihood function</li>
<li>Examples: Population assignment and estimating phylogenetic trees</li>
<li>Gene Trees versus Species Trees</li>
<li>The Felsenstein equation and examples</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_8_Inferring_Demographic_Histories/Lecture_8_Inferring_Demographic_Histories_handout.pdf" target="_blank">Lecture_8_Inferring_Demographic_Histories_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 5 (pages 77 - 92) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_5/Exercises_5.pdf" target="_blank">Exercises_5.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>November 12 2020: Ongoing Research</h4>
<p><b>Topics:</b><ul><li>Examples of ongoing research in the <a href="http://www.wegmannlab.com" target="_blank">Wegmann Lab</a></li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_9_Ongoing_Research/" target="_blank"></a></p>
<h4>November 19 2020: LD</h4>
<p><b>Topics:</b><ul><li>Linkage Disequilibrium</li>
<li>Association mapping</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_10_LD/Lecture_10_LD_handout.pdf" target="_blank">Lecture_10_LD_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 6 (pages 107 - 126) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_6/Exercises_6.pdf" target="_blank">Exercises_6.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>November 26 2020: Selection 1</h4>
<p><b>Topics:</b><ul><li>Deterministic selection in haploids</li>
<li>Deterministic selection in diploids</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_11_Selection_1/Lecture_11_Selection_1_handout.pdf" target="_blank">Lecture_11_Selection_1_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 7 (pages 129 - 148) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_7/Exercises_7.pdf" target="_blank">Exercises_7.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>December 3 2020: Selection 2</h4>
<p><b>Topics:</b><ul><li>Selection in finite populations</li>
<li>Substitution rates</li>
<li>Genetic Hitchhiking</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_12_Selection_2/Lecture_12_Selection_2_handout.pdf" target="_blank">Lecture_12_Selection_2_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 8 (153 - 174) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_8/Exercises_8.pdf" target="_blank">Exercises_8.pdf</a> in class. You will benefit most by solving them before.</p>
<p><b>Scripts:</b> We will use <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_12_Selection_2/Scripts/simulating_trajectories_with_selection.r" target="_blank">simulating_trajectories_with_selection.r</a> to demonstrate some concepts.</p>
<h4>December 10 2020: Neutral Theory</h4>
<p><b>Topics:</b><ul><li>The neutral theory</li>
<li>Testing neutrality - evidencing selection</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_13_Neutral_Theory/Lecture_13_Neutral_Theory_handout.pdf" target="_blank">Lecture_13_Neutral_Theory_handout.pdf</a></p>
<p><b>Reading:</b> Please read Chapter 9 (179 - 191) prior to the lecture.</p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_9/Exercises_9.pdf" target="_blank">Exercises_9.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>December 17 2020: Wrap Up</h4>
<p><b>Topics:</b><ul><li>Question & Answer Session</li>
<li>Introduction to the Master in Bioinformatics & Computational Biology</li></ul></p>
<p><b>Handout</b>: <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Lectures/Lecture_14_Wrap_Up/" target="_blank"></a></p>
<p><b>Exercises:</b> We will discuss <a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exam_example_questions/Exam_example_questions.pdf" target="_blank">Exam_example_questions.pdf</a> in class. You will benefit most by solving them before.</p>
<h4>Solutions to Exercises</h4><ul><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_1/Exercises_1_solutions.pdf" target="_blank">Exercises_1_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_2/Exercises_2_solutions.pdf" target="_blank">Exercises_2_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_3/Exercises_3_solutions.pdf" target="_blank">Exercises_3_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_4/Exercises_4_solutions.pdf" target="_blank">Exercises_4_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_4/Exercises_4_solutions.pdf" target="_blank">Exercises_4_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_5/Exercises_5_solutions.pdf" target="_blank">Exercises_5_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_6/Exercises_6_solutions.pdf" target="_blank">Exercises_6_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_7/Exercises_7_solutions.pdf" target="_blank">Exercises_7_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_8/Exercises_8_solutions.pdf" target="_blank">Exercises_8_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exercises_9/Exercises_9_solutions.pdf" target="_blank">Exercises_9_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlab/popgen_lecture/raw/master/Exercises/Exam_example_questions/Exam_example_questions_solutions.pdf" target="_blank">Exam_example_questions_solutions.pdf</a></li></ul>
